@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Lucida Console;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html body {
  width: 100%;
  min-width: 1025px;
  height: auto;
  font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif !important;
  position: relative;
  /* menu */
  /* menu icon */
  /* menu btn */
  /* 48em = 768px */
}
html body .header {
  position: fixed;
  width: 100%;
  z-index: 3;
}
html body .header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}
html body .header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: #000;
}
html body .header li a:hover,
html body .header .menu-btn:hover {
  background-color: #f4f4f4;
}
html body .header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}
html body .header .menu {
  clear: both;
  max-height: 0;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}
html body .header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
html body .header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  width: 18px;
}
html body .header .menu-icon .navicon:before,
html body .header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 100%;
}
html body .header .menu-icon .navicon:before {
  top: 5px;
}
html body .header .menu-icon .navicon:after {
  top: -5px;
}
html body .header .menu-btn {
  display: none;
}
html body .header .menu-btn:checked ~ .menu {
  max-height: 240px;
}
html body .header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
html body .header .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
html body .header .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
html body .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
html body .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
@media (min-width: 48em) {
  html body .header li {
    float: left;
  }
  html body .header li a {
    padding: 20px 30px;
  }
  html body .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  html body .header .menu-icon {
    display: none;
  }
}
html body main .background {
  width: 100%;
  height: auto;
  background: #000;
}
html body main article {
  width: 1200px;
  height: 500px;
  background: #eee;
  margin: auto;
}