//header
html body {
    width: 100%;
    min-width: 1025px;
    height: auto;
    font-family: arial,"Microsoft JhengHei","微軟正黑體",sans-serif !important;
    position: relative;

    header {
        width: 100%;
        height: auto;
        background: #dfdfdf;
        display: flex;
        min-width: 1025px;

        .top-bg {
            width: 100%;
            height: 2000px;
            background: url(../image/top-bg.png) top center no-repeat;
        }
    
       main {
           width: 1400px;
           min-width: 1025px;
           margin: auto;
           display: flex;
           justify-content: space-between;
    
           .logo {
            width: 13vh;
            height: 13vh;
            background: url(../image/logo.jpg)no-repeat;
            background-size: 100%;
            margin-left: 5px;
        }

       }
        
    }
}